In [1]:
import pandas as pd

In [2]:
df = pd.read_pickle(r'C:\Users\SOOQ ELASER\movie_recomendation_collaborative_filtering\artifacts\testing_data.pkl')

In [3]:
df.head()

         movieId  title  genres  userId  rating  tagId  relevance
2353017   2377.0   5428     895   156.0     3.0     10    0.02300
6542100   6875.0   2658     661   359.0     3.5    829    0.40475
6687136   7044.0  10125     739   394.0     3.5    353    0.04700
638502     601.0  10223     786    53.0     4.0     55    0.53425
9777914  67197.0   5158     257    11.0     4.0    411    0.03050

In [4]:
df.shape

(2339472, 7)

In [5]:
df1 = pd.read_pickle(r'C:\Users\SOOQ ELASER\movie_recomendation_collaborative_filtering\artifacts\training_data.pkl')

In [6]:
df1.head()

         movieId  title  genres  userId  rating  tagId  relevance
977260     966.0   9866     928   104.0     3.0    413    0.04125
2066305   2095.0   8200     568   156.0     3.0    938    0.01200
5620160   5700.0   9178     103   741.0     0.5    465    0.19325
5377513   5423.0   3547     241   359.0     4.0    338    0.04275
9496141  60040.0   4636     310    11.0     4.0    638    0.02075

In [7]:
df1.shape

(9357888, 7)

In [8]:
df1.isnull().sum()

movieId      0
title        0
genres       0
userId       0
rating       0
tagId        0
relevance    0
dtype: int64

In [9]:
df.isnull().sum()

movieId      0
title        0
genres       0
userId       0
rating       0
tagId        0
relevance    0
dtype: int64

In [10]:
df[df.duplicated()]

Empty DataFrame
Columns: [movieId, title, genres, userId, rating, tagId, relevance]
Index: []

In [11]:
df1[df1.duplicated()]

Empty DataFrame
Columns: [movieId, title, genres, userId, rating, tagId, relevance]
Index: []